<div class="row justify-content-center">
  <div class="col-8">
    <h1 class="text-center mt-5">TODOLIST</h1>
    <app-input
      [input]="input"
      (sendInput)="addTask($event)"
      (updateInput)="updateTask($event)"
    ></app-input>
    <app-taskitem
      [taskItem]="taskItem"
      (deleteId)="deleteTask($event)"
      (editId)="editTask($event)"
      (undoId)="undoTask($event)"
      (doneId)="doneTask($event)"
    ></app-taskitem>
    <h1 class="text-center mt-5">Quản Lý Sinh Viên</h1>
    <a
      class="button text-center"
      mat-raised-button
      color="primary"
      routerLink="/createStudent/creat"
      >Create</a
    >
    <!-- Table List Student -->
    <table
      mat-table
      [dataSource]="listStudent"
      class="mat-elevation-z8 mb-5 mt-4"
    >
      <!-- Name Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            routerLink="/createStudent/{{ element.id }}"
          >
            Edit
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >edit</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
